/* Styles for whole website */
body {
  color: var(--main-text-color);
  font-family: var(--primary-font) , var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}